# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant


/composer.lock

#Исключаем директории из публичной части
apps/**/config/db.php
apps/**/config/smtp.php
apps/**/web/assets/**
apps/**/web/minify/**
apps/**/runtime/*

params-local.php